[Unit]
Description=ss-tproxy
ConditionFileIsExecutable=/usr/local/bin/ss-tproxy
ConditionFileNotEmpty=/etc/ss-tproxy.conf
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/ss-tproxy start
ExecStop=/usr/local/bin/ss-tproxy stop
ExecReload=/usr/local/bin/ss-tproxy restart
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
